body {
    font-family: 'Lobster';
    margin: 0;
    background-color: #212121;
    color: white
}

/* Change the header of the display */
h3 {
    color: white;
    font-size: 50pt;
    font-weight: bold;
    text-align: left;
    margin-top: 1px;
}


/* "Add Message" appears on top right above header */
#showFormButton {
    margin-top: -110px;
    position: absolute;
    background-color: #ffab40;
    border: white;
    size: 30px;
    right: 15px;
}


#scrollTitle{
    background-color: #009688;
    width: 100%;
    height: 75;
}

#postTitle{
    font-size: large;
    font-weight: bold;
    font-family: 'Madimi One';
}

#Title{
    font-family: 'Madimi One';
    font-size: larger;
}

#Message{
    font-family: 'Madimi One';
    font-size: medium;
}

#postBody{
    font-size: medium;
    font-weight: lighter;
    font-family: 'Madimi One';
}

/* Add some space before displaying the table of data */
#messageList {
    margin-left: 15px;
}

/* Make the table wide */
table {
    width: 100%;
}

/* alternate color of table rows */
tr:nth-child(even) {
    background: #303030;
    border-color: #ffab40;
    border-width: 3px;
}


tr:nth-child(odd) {
    background: #303030;
    border-color: #ffab40;
    border-width: 3px;
}


/* make table row height a bit taller */
tr {
    height: 150px;
}

/* make the "title" column of the table wide */
td:nth-child(2) {
    width: 75%;
}


/* make the form elements wide,
* and make the Edit entry stack vertical
* Add some space between them
 */
input,
label,
textarea {
    display: block;
    width: 200px;
    margin-bottom: 10px;
}


/* put some left space before form elements */
label,
input,
textarea,
#addButton,
#editButton {
    margin-left: 15px;
}

/* custom formatting for the span where we put the creation date */
#editCreated {
    display: block;
    margin-bottom: 5px;
    margin-left: 15px;
}

#InvalidContent{
    display: none;
    font-family: 'Sumana';
    color: white;
    font-style: italic;
    font-weight: bolder;
}

#likeCol{
    color: red;
    text-align: center;
}

